@import "tailwindcss";
.container {
  max-width: 1200px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
:root {
  scroll-padding-top: 100px; /* height of your navbar */
}
@theme {
  /* --- COLORS --- */

  /* Brand */
  --color-brand-red: #a51b31;
  --color-brand-red-dark: #3f0a13;

  /* Text */
  --color-text-primary: #000000;
  --color-text-secondary: #3b2e2a;

  /* Background */
  --color-background-soft: #fff5e1;
  --color-background-softer: #ffe9e1;

  /* Support */
  --color-gold: #ecc861;

  /* Grays */
  --color-gray-100: #ffffff;
  --color-gray-200: #f5f5f5;
  --color-gray-300: #d9d9d9;
  --color-gray-400: #3b2e2a;
  --color-gray-500: #00000099;
  --color-gray-600: #00000094;
  --color-gray-900: #000000;

  /* Borders */
  --color-border-light: #d9d9d9;

  /* --- GRADIENTS --- */
  --image-headline-gradient: linear-gradient(90deg, #a51b31 39%, #3f0a13 100%);

  /* --- RADIUS --- */
  --radius-card: 18px;
  --radius-section: 24px;

  /* --- SHADOWS --- */
  --shadow-card: 0 4px 18px rgba(0, 0, 0, 0.06);
  --text-15: 15px;
  --text-16: 16px; /* Matches default 'text-base' */
  --text-18: 18px; /* Matches default 'text-lg' */
  --text-20: 20px; /* Matches default 'text-xl' */
  --text-36: 36px; /* Matches default 'text-lg' */
  --text-52: 52px;
  /* --- FONTS (Linked from layout.tsx) --- */
  --font-inter: var(--font-inter);
  --font-albert-sans: var(--font-albert-sans);
}

/* Default standard styles */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply antialiased;
  }
}

.paragraph {
  font-family: var(--font-inter);
  color: rgba(0, 0, 0, 0.6);
  line-height: 150%;
  font-size: 15px;
  font-weight: regular;
}

@media (max-width: 1200px) {
  .container {
    overflow: hidden;
    max-width: 100vw;
  }
}
@media (max-width: 500px) {
  .heading-md {
    font-size: 42px !important;
    line-height: 130%;
  }
  .paragraph-md {
    font-size: 14px !important;
  }
  .subheading-md {
    font-size: 15px !important;
  }
}
@media (max-width: 410px) {
  .heading-sm {
    font-size: 32px !important;
  }
  .paragraph-sm {
    font-size: 13px !important;
  }
  .subheading-sm {
    font-size: 14px !important;
  }
}
